return {
  bg = "#0c0b1e",
  fg = "#d4ddff",
  color0 = "#0c0b1e",
  color1 = "#AE3F45",
  color2 = "#384773",
  color3 = "#E6AF61",
  color4 = "#184E93",
  color5 = "#A15359",
  color6 = "#245A9B",
  color7 = "#9ea5c0",
  color8 = "#1a1743",
  color9 = "#f1424b",
  color10 = "#3d56a0",
  color11 = "#ffe768",
  color12 = "#1364ca",
  color13 = "#e15c66",
  color14 = "#2273d6",
  color15 = "#d4ddff",
}
