local o, g = vim.opt, vim.g
local M = {}

M.plugins = {}

--  █████╗ ██╗   ██╗████████╗ ██████╗  ██████╗ ██████╗ ███╗   ███╗███╗   ███╗ █████╗ ███╗   ██╗██████╗ ███████╗
-- ██╔══██╗██║   ██║╚══██╔══╝██╔═══██╗██╔════╝██╔═══██╗████╗ ████║████╗ ████║██╔══██╗████╗  ██║██╔══██╗██╔════╝
-- ███████║██║   ██║   ██║   ██║   ██║██║     ██║   ██║██╔████╔██║██╔████╔██║███████║██╔██╗ ██║██║  ██║███████╗
-- ██╔══██║██║   ██║   ██║   ██║   ██║██║     ██║   ██║██║╚██╔╝██║██║╚██╔╝██║██╔══██║██║╚██╗██║██║  ██║╚════██║
-- ██║  ██║╚██████╔╝   ██║   ╚██████╔╝╚██████╗╚██████╔╝██║ ╚═╝ ██║██║ ╚═╝ ██║██║  ██║██║ ╚████║██████╔╝███████║
-- ╚═╝  ╚═╝ ╚═════╝    ╚═╝    ╚═════╝  ╚═════╝ ╚═════╝ ╚═╝     ╚═╝╚═╝     ╚═╝╚═╝  ╚═╝╚═╝  ╚═══╝╚═════╝ ╚══════╝
M.autocommands = function() end

-- ██╗      █████╗ ███╗   ██╗ ██████╗ ██╗   ██╗ █████╗  ██████╗ ███████╗    ███████╗███████╗██████╗ ██╗   ██╗███████╗██████╗
-- ██║     ██╔══██╗████╗  ██║██╔════╝ ██║   ██║██╔══██╗██╔════╝ ██╔════╝    ██╔════╝██╔════╝██╔══██╗██║   ██║██╔════╝██╔══██╗
-- ██║     ███████║██╔██╗ ██║██║  ███╗██║   ██║███████║██║  ███╗█████╗      ███████╗█████╗  ██████╔╝██║   ██║█████╗  ██████╔╝
-- ██║     ██╔══██║██║╚██╗██║██║   ██║██║   ██║██╔══██║██║   ██║██╔══╝      ╚════██║██╔══╝  ██╔══██╗╚██╗ ██╔╝██╔══╝  ██╔══██╗
-- ███████╗██║  ██║██║ ╚████║╚██████╔╝╚██████╔╝██║  ██║╚██████╔╝███████╗    ███████║███████╗██║  ██║ ╚████╔╝ ███████╗██║  ██║
-- ╚══════╝╚═╝  ╚═╝╚═╝  ╚═══╝ ╚═════╝  ╚═════╝ ╚═╝  ╚═╝ ╚═════╝ ╚══════╝    ╚══════╝╚══════╝╚═╝  ╚═╝  ╚═══╝  ╚══════╝╚═╝  ╚═╝
M.lsp_servers = function(nvim_lsp)
  return {
    clangd = {
      filetypes = { "c", "cc", "cpp", "objc", "objcpp", "h", "hh", "hpp" },
      root_dir = nvim_lsp.util.find_git_root or nvim_lsp.util.root_pattern "compile_commands.json",
    },
    gopls = {
      cmd = { "gopls", "serve" },
      settings = {
        gopls = {
          analyses = {
            unusedparams = true,
          },
          staticcheck = true,
        },
      },
    },
    html = {
      cmd = { "vscode-html-language-server", "--stdio" },
      root_dir = nvim_lsp.util.find_git_root or nvim_lsp.util.root_pattern "index.html",
    },
    jdtls = {
      filetypes = { "java" },
      cmd = { "jdtls" },
      root_dir = nvim_lsp.util.find_git_root
        or nvim_lsp.util.root_pattern("mvnw", "gradlew", "pom.xml", "build.gradle"),
    },
    metals = {},
    ocamlls = {
      root_dir = nvim_lsp.util.find_git_root or nvim_lsp.util.root_pattern(".merlin", "package.json"),
    },
    rust_analyzer = {
      root_dir = nvim_lsp.util.find_git_root or nvim_lsp.util.root_pattern("Cargo.toml", "rust-project.json"),
      settings = {
        procMacro = {
          attributes = {
            enabled = true,
          },
          enabled = true,
        },
      },
    },
    lua_ls = {
      cmd = { "lua-language-server" },
      settings = {
        Lua = {
          runtime = {
            version = "LuaJIT",
            path = L("lsp_utils").get_runtime_path(),
          },
          completion = {
            keywordSnippet = "Disable",
            showWord = "Disable",
          },
          diagnostics = {
            enable = true,
            globals = { "vim" },
          },
          workspace = {
            library = { vim.api.nvim_get_runtime_file("", true) },
          },
        },
      },
    },
    tsserver = {
      cmd = { "typescript-language-server", "--stdio" },
      root_dir = nvim_lsp.util.find_git_root or nvim_lsp.util.find_node_modules_root,
    },
  }
end

-- ██╗     ███████╗██████╗     ███████╗ ██████╗ ██╗   ██╗██████╗  ██████╗███████╗███████╗
-- ██║     ██╔════╝██╔══██╗    ██╔════╝██╔═══██╗██║   ██║██╔══██╗██╔════╝██╔════╝██╔════╝
-- ██║     ███████╗██████╔╝    ███████╗██║   ██║██║   ██║██████╔╝██║     █████╗  ███████╗
-- ██║     ╚════██║██╔═══╝     ╚════██║██║   ██║██║   ██║██╔══██╗██║     ██╔══╝  ╚════██║
-- ███████╗███████║██║         ███████║╚██████╔╝╚██████╔╝██║  ██║╚██████╗███████╗███████║
-- ╚══════╝╚══════╝╚═╝         ╚══════╝ ╚═════╝  ╚═════╝ ╚═╝  ╚═╝ ╚═════╝╚══════╝╚══════╝
M.lsp_sources = function(none_ls)
  local sources = {}
  if none_ls then
    sources = {
      black = {
        custom = false,
        type = "formatting",
        external_cmd = "black",
        with = {
          cwd = vim.fn.getcwd,
        },
      },
      printenv = {
        custom = false,
        type = "hover",
      },
    }
  end

  return sources
end

-- ██████╗  █████╗ ██████╗     ██████╗ ███████╗██████╗ ██╗   ██╗ ██████╗  ██████╗ ███████╗██████╗
-- ██╔══██╗██╔══██╗██╔══██╗    ██╔══██╗██╔════╝██╔══██╗██║   ██║██╔════╝ ██╔════╝ ██╔════╝██╔══██╗
-- ██║  ██║███████║██████╔╝    ██║  ██║█████╗  ██████╔╝██║   ██║██║  ███╗██║  ███╗█████╗  ██████╔╝
-- ██║  ██║██╔══██║██╔═══╝     ██║  ██║██╔══╝  ██╔══██╗██║   ██║██║   ██║██║   ██║██╔══╝  ██╔══██╗
-- ██████╔╝██║  ██║██║         ██████╔╝███████╗██████╔╝╚██████╔╝╚██████╔╝╚██████╔╝███████╗██║  ██║
-- ╚═════╝ ╚═╝  ╚═╝╚═╝         ╚═════╝ ╚══════╝╚═════╝  ╚═════╝  ╚═════╝  ╚═════╝ ╚══════╝╚═╝  ╚═╝
M.dap = {
  adapters = {
    lldb = {
      type = "executable",
      command = "lldb-vscode",
      name = "lldb",
    },
  },
  configurations = {
    rust = {
      {
        name = "Debug",
        type = "lldb",
        request = "launch",
        program = function()
          local executables = {}
          local handle_output = function(_, data, _)
            if data then
              for _, line in ipairs(data) do
                local is_json, artifact = pcall(vim.fn.json_decode, line)

                if not is_json or type(artifact) ~= "table" or artifact.reason ~= "compiler-artifact" then
                  goto loop_end
                end

                local is_binary = vim.list_contains(artifact.target.crate_types, "bin")
                local type = "bin"
                local is_build_script = vim.list_contains(artifact.target.kind, "custom-build")
                local is_test = artifact.profile.test
                if is_build_script then
                  type = "build-script"
                end
                if is_test then
                  type = "test"
                end
                if is_binary and artifact.executable ~= vim.NIL then
                  table.insert(executables, { type = type, path = artifact.executable })
                end

                ::loop_end::
              end
            end
          end

          return coroutine.create(function(dap_run_co)
            vim.fn.jobstart("cargo build --all-targets --message-format=json", {
              stdout_buffered = true,
              on_stdout = handle_output,
              on_exit = function(_, code)
                vim.schedule(function()
                  if code ~= 0 then
                    vim.notify("cargo building all targets failed", vim.log.levels.ERROR, { title = "Build failed" })
                  else
                    vim.ui.select(executables, {
                      prompt = "Select build artifact",
                      format_item = function(item)
                        return "[" .. item.type .. "] " .. item.path
                      end,
                    }, function(choice)
                      if choice then
                        coroutine.resume(dap_run_co, choice.path)
                      end
                    end)
                  end
                end)
              end,
            })
          end)
        end,
        cwd = "${workspaceFolder}",
        stopOnEntry = false,
        args = {},
        runInTerminal = false,
      },
    },
  },
}

-- ███████╗███████╗████████╗██╗   ██╗██████╗ 
-- ██╔════╝██╔════╝╚══██╔══╝██║   ██║██╔══██╗
-- ███████╗█████╗     ██║   ██║   ██║██████╔╝
-- ╚════██║██╔══╝     ██║   ██║   ██║██╔═══╝ 
-- ███████║███████╗   ██║   ╚██████╔╝██║     
-- ╚══════╝╚══════╝   ╚═╝    ╚═════╝ ╚═╝     
M.setup = function()
  -- settings
  g.whichkey = false
  o.timeout = g.whichkey or false
  g.loaded_node_provider = 0
  g.loaded_perl_provider = 0
  g.loaded_ruby_provider = 0
  g.firenvim_config = {
    localSettings = {
      globalSettings = {
        alt = "all",
      },
      [".*"] = {
        cmdline = "neovim",
        content = "text",
        priority = 0,
        selector = "textarea",
        takeover = "never",
      },
    },
  }

  o.list = true
  o.listchars = { trail = "", tab = " " }

  -- mappings
end

return M
